div(ng-controller="userInProgramCtrl")
	.dropdown
		button#dropdownPrograms.btn.btn-default.dropdown-toggle(data-live-search="true" type="button" data-toggle="dropdown" aria-haspopup="true" aira-expanded="true")
			|     برنامه ها   
			span.caret 
		ul.dropdown-menu(aria-labelledby="dropdownPrograms" )
			li 
				a(href="#") Action
			li 
				a(href="#") Another Action